.content{
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search-container{
    margin: auto;
    text-align: center;
    width: 500px;
    height: 400px;
    background-color:#21003A;
    border-radius: 5px;
    border: 1px solid black;
    padding: 50px;
}

.search-title{
    margin-top: 65px;
    font-size: 25px;
    color: white;
    margin-bottom: 15px;
}

.search-mlb{
    padding: 10px;
    width: 300px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid;
    text-align: center;
}

.search-mlb-btn{
    width: 100px;
    padding: 10px;
    background-color: white;
    border: 1px solid;
    border-radius: 5px;
    margin-bottom: 35px;
}

.search-mlb-btn:hover{
    background-color:#490080;
    color: white;
    border: white solid 1px;
    cursor: pointer;
}